.pytest_cache
.vscode
.venv
.hub/hub.elaborate
.hub/hub.state
.hub/manifests
.hub/templates/*.yaml
.hub/templates/*.json
.terraform
*.tfplan
__pycache__
junit.xml
instance
*.egg-info
build
dist
kubernetes.yaml
.DS_STORE
